<h1>Tweets#index</h1>
<p>Find me in app/views/bookmarks/index.html.erb</p>

<% @bookmarks.each do |book| %>
  <p><%= link_to book.title, book.url %></p>
<% end %>

<% t1 = Time.current %>

<% sleep(3) %>

<% t2 = Time.current %>
<p><%= t2 - t1 %><p>