<h1>Tweet</h1>

<% t1 = Time.current %>

<% sleep(3) %>

<% t2 = Time.current %>
<p><%= t2 - t1 %></p>

<% @images.each do |image| %>
<p>
  <%= link_to image.title %>
  <%= link_to '削除', "images/#{image.id}", method: :delete %>
  <%= link_to '編集', "images/#{image.id}/edit" %>
</p>
<% end %>
<p><%= link_to '新規追加', 'images/new' %></p>